[profiles]
packages=all
[dump]
dump=mft
mft_export=False
[rekall]
plugins=imageinfo,pslist,psxview
[output]
type=csv
destination=local
dir=%COMPUTERNAME%
#share=\\share\to\mount
#share_login=
#share_password=
[filecatcher]
recursively=True
path=%USERPROFILE%\AppData,%PUBLIC%
mime_filter=application/msword;application/octet-stream;application/x-archive;application/x-ms-pe;application/x-ms-dos-executable;application/x-lha;application/x-dosexec;application/x-elc;application/x-executable, statically linked, stripped;application/x-gzip;application/x-object, not stripped;application/x-zip;image/bmp''image/gif;image/jpeg;image/png;text/html;text/rtf;text/xml;UTF-8 Unicode HTML document text, with CRLF line terminators;UTF-8 Unicode HTML document text, with very long lines, with CRLF, LF line terminators
mime_zip=application/x-ms-pe;application/x-ms-dos-executable;application/x-dosexec;application/x-executable, statically linked, stripped
size_min=6k
size_max=3M
compare=AND
ext_file=*
zip_ext_file=*
zip=False
[modules]
pe
[pe]
pe_mime_type=application/x-ms-pe;application/x-ms-dos-executable;application/x-ms-pe;application/x-dosexec;application/x-executable, statically linked, stripped
filtered_certificates=True
cert_filtered_issuer=issuer;O=Microsoft Corporation|Microsoft Time-Stamp PCA|Microsoft Time-Stamp PCA Microsoft Windows Verification PCA
cert_filtered_subject=subject;O=Microsoft Corporation|Microsoft Time-Stamp Service|Microsoft Time-Stamp Service Microsoft Windows
